/* Hero Section */
.hero {
  background-color: var(--light-color);
  padding: 5rem 0;
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }
  
  .hero-content {
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: var(--secondary-color);
    }
    
    p {
      font-size: 1.1rem;
      margin-bottom: 2rem;
      color: var(--gray-color);
    }
  }
}

/* Tagline Section */
.tagline-section {
  background-color: white;
  text-align: center;
  
  h2 {
    font-size: 2.2rem;
    color: var(--secondary-color);
  }
  
  .tagline-text {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 3rem;
    color: var(--gray-color);
  }
}

/* Products Section */
.sample-products {
  background-color: var(--white-color);
  text-align: center;
  
  & h2 {
    font-size: 2.2rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
  }
}

/* Responsive Styles */
@media (max-width: 992px) {
  .hero {
    .container {
      grid-template-columns: 1fr;
    }
    .hero-content {
      text-align: center;
      h2 {
        font-size: 2rem;
      }
    }
  }
}
